In [13]:
import pandas as pd

# Specify the path to your JSON file
json_file_path = 'C:/Users/subha/OneDrive/Desktop/sample_json.json'

# Read the JSON file into a Pandas DataFrame
df = pd.read_json(json_file_path)

# Display the DataFrame
display(df)

print(df.dtypes)

,id,type,name,ppu,batters,topping
0,1,donut,Cake,0.55,"{'batter': [{'id': '1001', 'type': 'Regular'},...","[{'id': '5001', 'type': 'None'}, {'id': '5002'..."
1,2,donut,Raised,0.55,"{'batter': [{'id': '1001', 'type': 'Regular'}]}","[{'id': '5001', 'type': 'None'}, {'id': '5002'..."
2,3,donut,Old Fashioned,0.55,"{'batter': [{'id': '1001', 'type': 'Regular'},...","[{'id': '5001', 'type': 'None'}, {'id': '5002'..."

id           int64
type        object
name        object
ppu        float64
batters     object
topping     object
dtype: object

In [24]:
import pandas as pd
from pandas.core.common import flatten

# Step 1: Read the JSON file into a DataFrame
json_file_path = 'C:/Users/subha/OneDrive/Desktop/sample_json.json'
df = pd.read_json(json_file_path)

display(df)

# Step 2: Function to check if a column contains nested structures
def has_nested_structures(cell):
    return any(isinstance(item, (list, dict)) for item in flatten([cell]))

# Step 3: Identify columns that are not fully expanded
columns_to_expand = [col for col in df.columns if any(df[col].apply(has_nested_structures))]

print(columns_to_expand)

# # Step 4: Expand the columns that are not fully expanded
# for col in columns_to_expand:
#     expanded_col = pd.json_normalize(df[col], sep='_', max_level=1)
#     df = pd.concat([df, expanded_col], axis=1).drop(columns=[col])

# # Now, 'df' contains the fully expanded DataFrame
# # You can further process or load it as needed
# print(df.head())

,id,type,name,ppu,batters,topping
0,1,donut,Cake,0.55,"{'batter': [{'id': '1001', 'type': 'Regular'},...","[{'id': '5001', 'type': 'None'}, {'id': '5002'..."
1,2,donut,Raised,0.55,"{'batter': [{'id': '1001', 'type': 'Regular'}]}","[{'id': '5001', 'type': 'None'}, {'id': '5002'..."
2,3,donut,Old Fashioned,0.55,"{'batter': [{'id': '1001', 'type': 'Regular'},...","[{'id': '5001', 'type': 'None'}, {'id': '5002'..."

[]

In [25]:
import pandas as pd

# Assume df is your DataFrame obtained by reading the JSON file
df = pd.read_json('C:/Users/subha/OneDrive/Desktop/sample_json.json')

# Display the data types of each column
column_data_types = df.dtypes

print("Data Types of Columns:")
print(column_data_types)

Data Types of Columns:
id           int64
type        object
name        object
ppu        float64
batters     object
topping     object
dtype: object

In [27]:
import pandas as pd

# Assume df is your DataFrame obtained by reading the JSON file
df = pd.read_json('C:/Users/subha/OneDrive/Desktop/sample_json.json')

# Display the data types of each column
column_data_types = df.dtypes

print("Data Types of Columns:")
print(column_data_types)
# Function to check if an element is a list

def is_list(element):
    return isinstance(element, list)

# Function to check if an element is a dictionary
def is_dict(element):
    return isinstance(element, dict)

# Check if 'your_column' contains lists
is_list_column = df['batters'].apply(lambda x: any(is_list(item) for item in x))

# Check if 'your_column' contains dictionaries
is_dict_column = df['topping'].apply(lambda x: any(is_dict(item) for item in x))

# Display the DataFrame along with additional information
df_info = pd.concat([df, is_list_column.rename('is_list'), is_dict_column.rename('is_dict')], axis=1)

print("DataFrame Information:")
display(df_info)

Data Types of Columns:
id           int64
type        object
name        object
ppu        float64
batters     object
topping     object
dtype: object
DataFrame Information:

,id,type,name,ppu,batters,topping,is_list,is_dict
0,1,donut,Cake,0.55,"{'batter': [{'id': '1001', 'type': 'Regular'},...","[{'id': '5001', 'type': 'None'}, {'id': '5002'...",False,True
1,2,donut,Raised,0.55,"{'batter': [{'id': '1001', 'type': 'Regular'}]}","[{'id': '5001', 'type': 'None'}, {'id': '5002'...",False,True
2,3,donut,Old Fashioned,0.55,"{'batter': [{'id': '1001', 'type': 'Regular'},...","[{'id': '5001', 'type': 'None'}, {'id': '5002'...",False,True

In [44]:
from pyspark.sql import SparkSession

def read_json_to_spark(json_file_path):
    # Create a Spark session
    spark = SparkSession.builder.appName("example").getOrCreate()

    # Read the JSON file into a PySpark DataFrame
    spark_df = spark.read.option("multiline","true").format("json").load(json_file_path)

    return spark_df

# Specify the path to your JSON file
json_file_path = 'C:/Users/subha/OneDrive/Desktop/sample_json.json'

# Call the function to read and parse the JSON file
spark_df = read_json_to_spark(json_file_path)

# Display the PySpark DataFrame
spark_df.show()

spark_df.printSchema()

+--------------------+----+-------------+----+--------------------+-----+
|             batters|  id|         name| ppu|             topping| type|
+--------------------+----+-------------+----+--------------------+-----+
|{[{1001, Regular}...|0001|         Cake|0.55|[{5001, None}, {5...|donut|
| {[{1001, Regular}]}|0002|       Raised|0.55|[{5001, None}, {5...|donut|
|{[{1001, Regular}...|0003|Old Fashioned|0.55|[{5001, None}, {5...|donut|
+--------------------+----+-------------+----+--------------------+-----+

root
 |-- batters: struct (nullable = true)
 |    |-- batter: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- id: string (nullable = true)
 |    |    |    |-- type: string (nullable = true)
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- ppu: double (nullable = true)
 |-- topping: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- type: string (nullable = true)
 |-- type: string (nullable = true)

In [46]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, ArrayType
from pyspark.sql.functions import col, explode_outer

#function to flatten/explode the non-linear data type columns
def flatten(df):
  complex_fields = dict([(field.name,field.dataType)
                        for field in df.schema.fields
                        if type(field.dataType) == StructType or type(field.dataType) == ArrayType])
  
  while(len(complex_fields)!=0):
    col_name = list(complex_fields.keys())[0]
    print("Processing :"+col_name+" Type :"+str(type(complex_fields[col_name])))
    
    #if StructType then flatten struct and if ArrayType then explode the arrays into sub elements
    if(type(complex_fields[col_name]) == StructType):
      expanded = [col(col_name+'.'+k).alias(col_name+'_'+k) for k in [n.name for n in complex_fields[col_name]]]
      df = df.select("*",*expanded).drop(col_name)
      
    #if ArrayType
    elif(type(complex_fields[col_name]) == ArrayType ):
      df = df.withColumn(col_name, explode_outer(col_name))
      
    #recompute remaining Complex fields in Schema
    complex_fields = dict([(field.name,field.dataType)
                          for field in df.schema.fields
                          if type(field.dataType) == StructType or type(field.dataType) == ArrayType])
    
  return df

 
df = flatten(spark_df)
df.show(truncate=False)

Processing :batters Type :<class 'pyspark.sql.types.StructType'>
Processing :topping Type :<class 'pyspark.sql.types.ArrayType'>
Processing :topping Type :<class 'pyspark.sql.types.StructType'>
Processing :batters_batter Type :<class 'pyspark.sql.types.ArrayType'>
Processing :batters_batter Type :<class 'pyspark.sql.types.StructType'>
+----+----+----+-----+----------+------------------------+-----------------+-------------------+
|id  |name|ppu |type |topping_id|topping_type            |batters_batter_id|batters_batter_type|
+----+----+----+-----+----------+------------------------+-----------------+-------------------+
|0001|Cake|0.55|donut|5001      |None                    |1001             |Regular            |
|0001|Cake|0.55|donut|5001      |None                    |1002             |Chocolate          |
|0001|Cake|0.55|donut|5001      |None                    |1003             |Blueberry          |
|0001|Cake|0.55|donut|5001      |None                    |1004             |Devil's Food       |
|0001|Cake|0.55|donut|5002      |Glazed                  |1001             |Regular            |
|0001|Cake|0.55|donut|5002      |Glazed                  |1002             |Chocolate          |
|0001|Cake|0.55|donut|5002      |Glazed                  |1003             |Blueberry          |
|0001|Cake|0.55|donut|5002      |Glazed                  |1004             |Devil's Food       |
|0001|Cake|0.55|donut|5005      |Sugar                   |1001             |Regular            |
|0001|Cake|0.55|donut|5005      |Sugar                   |1002             |Chocolate          |
|0001|Cake|0.55|donut|5005      |Sugar                   |1003             |Blueberry          |
|0001|Cake|0.55|donut|5005      |Sugar                   |1004             |Devil's Food       |
|0001|Cake|0.55|donut|5007      |Powdered Sugar          |1001             |Regular            |
|0001|Cake|0.55|donut|5007      |Powdered Sugar          |1002             |Chocolate          |
|0001|Cake|0.55|donut|5007      |Powdered Sugar          |1003             |Blueberry          |
|0001|Cake|0.55|donut|5007      |Powdered Sugar          |1004             |Devil's Food       |
|0001|Cake|0.55|donut|5006      |Chocolate with Sprinkles|1001             |Regular            |
|0001|Cake|0.55|donut|5006      |Chocolate with Sprinkles|1002             |Chocolate          |
|0001|Cake|0.55|donut|5006      |Chocolate with Sprinkles|1003             |Blueberry          |
|0001|Cake|0.55|donut|5006      |Chocolate with Sprinkles|1004             |Devil's Food       |
+----+----+----+-----+----------+------------------------+-----------------+-------------------+
only showing top 20 rows

In [47]:
!pip install pyyaml

Requirement already satisfied: pyyaml in c:\users\subha\anaconda3\lib\site-packages (5.4.1)

In [ ]:
# C:\Users\subha\OneDrive\Desktop\sample_yaml.yml

In [71]:
import yaml

# Specify the path to your YAML file
yaml_file_path = 'C:/Users/subha/OneDrive/Desktop/sample_yaml.yml'

# Read the YAML file
with open(yaml_file_path, 'r') as file:
    yaml_data = yaml.safe_load(file)

# Display the content of the YAML file
print(yaml_data)
print(yaml_data['Load Type'])

{'Load_Index': 1, 'Table': 'dbo.sample_json', 'Load Type': 'Flat File', 'File Format': 'json', 'Source File Location': 'C:\\Users\\subha\\OneDrive\\Desktop\\sample_yaml.yml', 'multiline': True, 'Indentation': None}
Flat File

In [85]:
import yaml

# Define the path to your YAML file
yaml_file_path = 'C:/Users/subha/OneDrive/Desktop/sample_yaml.yml'

def yaml_file_read(yaml_file_path) :
    # Read the YAML file
    with open(yaml_file_path, 'r') as file:
        yaml_data = yaml.safe_load(file)
        
    return yaml_data

print(yaml_file_read(yaml_file_path))

# print(yaml_data['File Name'])

{'Load_Index': 1, 'Table': 'dbo.sample_json', 'Load Type': 'Flat File', 'File Format': 'json', 'File Directoy': 'C:\\Users\\subha\\OneDrive\\Desktop\\', 'File Name': 'sample_yaml.yml', 'multiline': True, 'Indentation': None}

In [86]:
from pyspark.sql import SparkSession

def read_json_to_spark(json_file_path):
    # Create a Spark session
    spark = SparkSession.builder.appName("example").getOrCreate()

    # Read the JSON file into a PySpark DataFrame
    spark_df = spark.read.option("multiline","true").format("json").load(json_file_path)

    return spark_df


# Specify the path to your JSON file
json_file_path = 'C:/Users/subha/OneDrive/Desktop/config_json.json'

# Call the function to read and parse the JSON file
spark_df = read_json_to_spark(json_file_path)

# Display the PySpark DataFrame
spark_df.show()

spark_df.printSchema()

AnalysisException:
Since Spark 2.3, the queries from raw JSON/CSV files are disallowed when the
referenced columns only include the internal corrupt record column
(named _corrupt_record by default). For example:
spark.read.schema(schema).csv(file).filter($"_corrupt_record".isNotNull).count()
and spark.read.schema(schema).csv(file).select("_corrupt_record").show().
Instead, you can cache or save the parsed results and then send the same query.
For example, val df = spark.read.schema(schema).csv(file).cache() and then
df.filter($"_corrupt_record".isNotNull).count().

In [96]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("example").getOrCreate()

# Specify the path to your JSON file
json_file_path = 'C:/Users/subha/OneDrive/Desktop/config_json.json'

# Read the JSON file into a PySpark DataFrame
spark_df = spark.read.format("json").load(json_file_path)

# # Call the function to read and parse the JSON file
# spark_df = read_json_to_spark(json_file_path)

# Display the PySpark DataFrame
spark_df.show()

display(spark_df)

# spark_df.printSchema()

+-----------+----------------+---------+--------------------+---------+
|File Format|       File Name|Load Type|     _corrupt_record|multiline|
+-----------+----------------+---------+--------------------+---------+
|       null|            null|     null|                   [|     null|
|       null|            null|     null|                   {|     null|
|       null|            null|     null|    "Load_Index": 1,|     null|
|       null|            null|     null|    "Table": "dbo...|     null|
|       null|            null|     null|           "Info": [|     null|
|       null|            null|Flat File|                null|     null|
|       json|            null|     null|                null|     null|
|       null|            null|     null|      {"File Dire...|     null|
|       null|config_json.json|     null|                null|     null|
|       null|            null|     null|                null|      yes|
|       null|            null|     null|               \t  ]|     null|
|       null|            null|     null|                   }|     null|
|       null|            null|     null|                   ]|     null|
+-----------+----------------+---------+--------------------+---------+

DataFrame[File Format: string, File Name: string, Load Type: string, _corrupt_record: string, multiline: string]

In [102]:
mdd_config_file_path = "C:/Users/subha/OneDrive/Desktop/MDD_Config.csv"

df = spark.read.csv(mdd_config_file_path, header=True)

df.show()

+---------+---------------+-----------+---------+-----------------------+-----------------+--------------------+
|   Source|         Target|Model Query|Load Type|Primary Key Combination|Connection String|       File Location|
+---------+---------------+-----------+---------+-----------------------+-----------------+--------------------+
|Flat File|dbo.sample_json|       null|     Full|                   null|             null|C:\\Users\\subha\...|
+---------+---------------+-----------+---------+-----------------------+-----------------+--------------------+